create a NBFNet compatible `entity_types` file by mergin `target2type.tsv` and `regulator2type.tsv`.

In [3]:
import os
import pandas as pd

In [4]:
os.listdir("../data")

['train.tsv',
 'target2type.tsv',
 'CTCdiffexpression.txt',
 'val.tsv',
 'TCGAdiffexpression.txt',
 'dataset.tsv',
 'test.tsv',
 'ras_machine_triples.tsv',
 'regulator2type.tsv',
 'GEOdiffexpression.txt',
 'lnctard2.0.txt']

In [19]:
tar2ty, reg2ty = [
  pd.read_csv(fn,sep="\t",encoding="latin-1", names=["entity","type"])[1:] for fn in ["../data/target2type.tsv", "../data/regulator2type.tsv"]
]

In [27]:
entity_types = pd.concat([tar2ty,reg2ty],ignore_index=True).drop_duplicates()
entity_types

            entity    type
0         miR-4429   miRNA
1           CDKN1A     PCG
2            TGFB1     PCG
3             ZEB1      TF
4              MIF     PCG
...            ...     ...
4365   LAMTOR5-AS1  lncRNA
4366         HSPA7  lncRNA
4367      PKMYT1AR  lncRNA
4368  RP5-857K21.7  lncRNA
4369    circ-PSEN1  lncRNA

[3937 rows x 2 columns]

In [30]:
entity_types["type"] = entity_types["type"].astype("category")
entity_types["type"] = entity_types["type"].cat.codes
entity_types

            entity  type
0         miR-4429     4
1           CDKN1A     0
2            TGFB1     0
3             ZEB1     1
4              MIF     0
...            ...   ...
4365   LAMTOR5-AS1     3
4366         HSPA7     3
4367      PKMYT1AR     3
4368  RP5-857K21.7     3
4369    circ-PSEN1     3

[3937 rows x 2 columns]

In [31]:
entity_types.to_csv("../data/entity_types.tsv",sep="\t",index=False,header=False)